.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
checkpoints_detection/*.pt
demo/backend/checkpoints/*.pt
SAM2_Mice/detection/train
sam2_logs/
tests/
.idea/
.claude/